/*
   original: https://github.com/pages-themes/hacker 
*/

@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  background: $body-background url("../assets/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}


section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px;
  margin: 0 0 40px 0;
}

.header-links {
  text-align: center;
}

.header-link {
  display: inline;
}

header h1 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%;
}

.round-img {
  border-radius: 50%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../assets/bullet.png');
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* Make footer stick to bottom */

.pagination, footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#wrapper {
  min-height: calc(100vh - 100px);
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// Variables for easy theming
$search-border-color: #a2a9b1;
$search-border-focus: #36c;
$search-icon-color: #54595d;
$search-bg: #fff;
$search-font: sans-serif;

$search-border-color: #a2a9b1;
$search-border-focus: #36c;
$search-icon-color: #54595d;
$search-bg: #fff;
$search-font: sans-serif;

#search.custom-search {
  position: relative;
  margin: 0 auto;
  font-family: $search-font;

  // Style the input injected by Pagefind
  .pagefind-ui__search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 36px 8px 10px;
    font-size: 12px;
    border: 1px solid $search-border-color;
    border-radius: 2px;
    background-color: $search-bg;
    outline: none;

    &:focus {
      border-color: $search-border-focus;
      box-shadow: 0 0 3px rgba(51, 102, 204, 0.3);
    }
  }

  // Hide default Pagefind icon
  .pagefind-ui__search-icon {
    display: none;
  }

  // Wikipedia-style icon
  .search-icon {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: $search-icon-color;
    pointer-events: none;
  }
}

$sidebar-width: 200px;
$border-color: #a2a9b1;
$background: #f8f9fa;
$link-color: #63c0f5;
$link-hover: #0b0080;

.layout-wiki {
  display: flex;
  min-height: 25vh;
  font-family: sans-serif;
}

/* Sidebar styles */
.sidebar-wiki {
  min-width: $sidebar-width;
  border-right: 1px solid $border-color;
  padding-right: .7rem;
  box-sizing: border-box;
  font-size: 14px;

  nav {
    h3 {
      font-size: 1em;
      margin: 1em 0 0.5em;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.2em;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 1em;

      li {
        margin-bottom: 0.5em;
        list-style-image:none;

        a {
          color: $link-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: $link-hover;
          }
        }
      }
    }
  }
}


/* Main content */
.content-wiki {
  flex-grow: 1;
  padding: .7rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  /* Stack sidebar above content */
  .layout-wiki {
    flex-direction: column;
  }

  /* Sidebar becomes full width */
  .sidebar-wiki {
    min-width: 100%;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid $border-color;
    padding: 0.5rem;
  }

  /* Make search fit naturally */
  #search.custom-search {
    max-width: 100%;
  }

  #search.custom-search .pagefind-ui__search-input {
    font-size: 14px;
    padding: 6px 32px 6px 8px;
  }

  /* Slightly smaller icon */
  #search.custom-search .search-icon {
    width: 16px;
    height: 16px;
    right: 8px;
  }

  /* Reduce sidebar heading spacing */
  .sidebar-wiki nav h3 {
    margin-top: 0.5em;
  }
}

